<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Show All</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="container">
        <%= typeof msg != 'undefined' ? msg : '' %>
        <form action="/edit-img" method="post">
            <input type="hidden" name="nameImg" id="name-img">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="tên ảnh" name="name" id="name-img-edit">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="chiều dài" name="w">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="chiều cao" name="h">
            </div>
            <button type="submit" class="btn btn-primary">xác nhận</button>
          </form>
      <div class="all-img">
        <%galleryImage.forEach(img =>{%>
        <div class="img">
            <p class="title-image"><%=img%></p>
          <img src="uploads/<%=img%>" class="responsive-img my-img" />
        </div>
        <% })%>
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script src="/main.js"></script>
    <script>

    </script>
  </body>
</html>
