body{
    margin: 20px auto;
    width: 100%;
}
.my-img{
    width: 100%;
    height: auto;
    border: 1px solid black;
}

.all-img{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
}